---
interface Props {
  fillcolor: string;
  textcolor?: string;
}

const { fillcolor, textcolor = "#000000", } = Astro.props
---

<div class="generales w-11/12 mx-auto">
  <div class="flex flex-col items-center justify-center gap-5 h-[50vh]">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="141" zoomAndPan="magnify" viewBox="0 0 105.75 105.749997" height="141" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><filter x="0%" y="0%" width="100%" height="100%" id="c7bb40b46b"><feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0" color-interpolation-filters="sRGB"/></filter><mask id="93cfcd0dbb"><g filter="url(#c7bb40b46b)"><rect x="-10.575" width="126.9" fill={fillcolor} y="-10.575" height="126.899996" fill-opacity="0.3"/></g></mask><clipPath id="a8ca60af40"><path d="M 0.296875 0.296875 L 84.578125 0.296875 L 84.578125 84.578125 L 0.296875 84.578125 Z M 0.296875 0.296875 " clip-rule="nonzero"/></clipPath><clipPath id="09a77c8ee3"><rect x="0" width="85" y="0" height="85"/></clipPath><clipPath id="4d028b6b95"><path d="M 0 0 L 104.753906 0 L 104.753906 104.753906 L 0 104.753906 Z M 0 0 " clip-rule="nonzero"/></clipPath></defs><g mask="url(#93cfcd0dbb)"><g transform="matrix(1, 0, 0, 1, 10, 10)"><g clip-path="url(#09a77c8ee3)"><g clip-path="url(#a8ca60af40)"><path fill={fillcolor} d="M 84.402344 42.445312 C 84.402344 65.617188 65.617188 84.402344 42.445312 84.402344 C 19.273438 84.402344 0.488281 65.617188 0.488281 42.445312 C 0.488281 19.273438 19.273438 0.488281 42.445312 0.488281 C 65.617188 0.488281 84.402344 19.273438 84.402344 42.445312 Z M 84.402344 42.445312 " fill-opacity="1" fill-rule="nonzero"/></g></g></g></g><g clip-path="url(#4d028b6b95)"><path fill={fillcolor} d="M 83.914062 104.894531 L 104.894531 83.914062 L 104.894531 99.648438 C 104.894531 102.542969 102.542969 104.894531 99.648438 104.894531 Z M 20.980469 104.894531 L 0 83.914062 L 0 99.648438 C 0 102.542969 2.347656 104.894531 5.246094 104.894531 Z M 0 5.246094 L 0 20.980469 L 20.980469 0 L 5.246094 0 C 2.347656 0 0 2.347656 0 5.246094 Z M 99.648438 0 L 83.914062 0 L 104.894531 20.980469 L 104.894531 5.246094 C 104.894531 2.347656 102.542969 0 99.648438 0 Z M 99.648438 0 " fill-opacity="1" fill-rule="nonzero"/></g></svg>
    <h2 class=`text-5xl text-[${fillcolor}]`>Generales del evento</h2>
    <div class="flex flex-wrap items-center justify-center gap-10">
      <div class="flex flex-col items-center">
        <img src="/assets/disenos/diseno5/trajeBaño.svg" alt="" />
        <p class=`text-2xl text-[${textcolor}]`>Trae tu traje de baño</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="/assets/disenos/diseno5/alimentos.svg" alt="" />
        <p class=`text-2xl text-[${textcolor}]`>Alimentos 4-6</p>
      </div>
    </div>
  </div>
</div>
